/*
!/.gitignore
!/readme.md
# ignore everything but hello-world/src  --- reference: https://stackoverflow.com/a/38433667
!/ClojureScript_Projects
/ClojureScript_Projects/*
!/ClojureScript_Projects/hello-world/
/ClojureScript_Projects/hello-world/*
!/ClojureScript_Projects/hello-world/src

